.roleHeader {
  display: flex;
  align-items: center;
  background-color: rgb(168, 184, 198);
  padding: 10px 20px;
  color: white;
  justify-content: space-between;
}

.roleHeader .logo {
  width: 100px;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roleHeader .logo img {
  height: 70px;
  width: auto;
  object-fit: contain;
}

.roleHeader h2 {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.RoleContainer {
  display: flex;
  height: 73vh;
}

.selRoleContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.role-card {
  display: flex;
  flex-direction: column;
  width: 300px;
}

/* .dropdownLabel {
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
} */
.dropdownLabel {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.startBtn {
  margin-top: 20px;
  border: #0d547b !important;
  color: white;
  background: #0d547b !important;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

.startBtn:disabled {
  border-color: lightgray;
  color: lightgray;
  cursor: not-allowed;
}

.imgContainer {
  flex: 1;
  background: linear-gradient(to bottom right, rgb(168, 184, 198), rgb(168, 184, 198));
  clip-path: ellipse(100% 145% at 100% 9%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBorder {
  width: 75%;
  max-width: 500px;
  border: 8px solid #d0d9e2;
  box-sizing: border-box;
}

.imgBorder img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  background-color: rgb(168, 184, 198);
  padding: 10px;
  text-align: center;
}

.footer span {
  color: white;
  font-weight: 500;
}